body {
  background-color: black;
}

h1 {
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: darkolivegreen;
  transform: rotate(2%);
  font-weight: 700;
  text-transform: lowercase;
}

.canvas {
  border: 5px solid white;
  background-color: cornflowerblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-image,
.background-image,
.enemy-image {
  display: none;
}

.main-title {
  margin: 0;
  width: 80%;
  position: absolute;
  z-index: 10;
  top: 16%;
  left: 8%;
}

@media only screen and (max-width: 900px) {
  /* for 10 inches tablet screens */
  body > * {
    display: none;
  }

  body::before {
    content: 'перейдите на устройство с шириной экрана 900 px';
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 3rem;
    background: rgba(255, 255, 0, 0.9); /* Semi-transparent yellow */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
}
